/* You can add global styles to this file, and also import other style files */
*, *::before, *::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  background-color: #fffdf9; /* Match $clr-bg */
  color: #1a1612; /* Match $clr-text-primary */
}
